$primary: #a100f2;
$secondary: #f1f1f1;
$ternary: #bc00dd;
$accent1: #5a189a;
$accent2: #dec9e9;

$primary-with-opacity: rgba(164, 77, 242, 0.5);
$primary-hover: #bc00dd;

$radius: 10px;
$border-size: 1px;
